#naughtea {
    height: 175px;
    width: 125px;
    object-fit: contain;
    margin-left: 20px;
    margin-bottom: -25px;
}

#h3menu {
    margin-left: 20px;
}

.nav-text {
    margin-top: 20px;
}

.snail {
    display: flex;
    margin-top: 5px;
}